{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% load staticfiles %}

{# TODO hash password#}
{# TODO input validation#}
{% block content %}
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="4u 12u(mobile)">

                    <!-- Sidebar -->
                    <section class="box">
                        <form class="form-inline" method="get" action="{% url "reservation_search" %}">
                            <input type="text" class="form-control" placeholder="Search Reservations" name="query">
                            <button type="submit" class="btn">Search</button>
                        </form>
                    </section>

                </div>

                <div class="8u 12u(mobile) important(mobile)">

                    <!-- Content -->
                    <article class="box post">
                        <header>
                            <h2>All reservations you've made</h2>
                        </header>
                        <div style="float:right">
                        </div>
                        <table>
                            <tr>
                                <th>id</th>
                                <th>table id</th>
                                <th>status</th>
                                <th>from</th>
                                <th>to</th>
                                <th>created</th>
                            </tr>
                            {% for res in reservations %}
                                <tr>
                                    <td>{{ res.id }}</td>
                                    <th>{{ res.table }}</th>
                                    <td>{{ res.status }}</td>
                                    <td>{{ res.start_time }}</td>
                                    <td>{{ res.end_time }}</td>
                                    <td>{{ res.created }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </article>

                </div>
            </div>
        </div>
    </div>
{% endblock %}