{% extends "base.html" %}
{% block title %}
    Signup
{% endblock %}
{% load staticfiles %}
{% block content %}
    <div id="main-wrapper">
        <div class="container">
            <div class="row">
                <div class="4u 12u(mobile)">

                    <!-- Sidebar -->
                    <section class="box">
                        <header>
                            <h3>Log in to your account</h3>
                        </header>

                        <footer>
                            <a href="#" class="button alt">Rate</a>
                        </footer>
                    </section>

                </div>
                <div class="8u 12u(mobile) important(mobile)">

                    <!-- Content -->
                    <article class="box post">
                        <header>
                            <h2>Signup</h2>
                        </header>
                        {{ message }}
                        <form method="post" action="{% url 'signup_page' %}">
                            {% csrf_token %}
                            <div class="form-group">
                                <label>Username</label>
                                <input type="text" class="form-control" name="username" placeholder="Username">
                            </div>
                            <div class="form-group">
                                <label>Password</label>
                                <input style="padding:.75em 0em" type="password" class="form-control" name="password" placeholder="Password">
                            </div>
                             <div class="form-group">
                                <label></label>
                                <input type="checkbox" name="vehicle" value="Bike"> I have a bike<br>
                            </div>
                            <button type="submit" class="button">Signup</button>
                        </form>
                    </article>

                </div>
            </div>
        </div>
    </div>
{% endblock %}